# Assignment 5 - Text Analysis
An explanation this assignment could be found in the .pdf explanation document


## Materials to review for this assignment
<h4>From Moodle:</h4> 
<h5><u>Review the notebooks regarding the following python topics</u>:</h5>
<div class="alert alert-info">
&#x2714; <b>Working with strings</b> (tutorial notebook)<br/>
&#x2714; <b>Text Analysis</b> (tutorial notebook)<br/>
&#x2714; <b>Hebrew text analysis tools (tokenizer, wordnet)</b> (moodle example)<br/>
&#x2714; <b>(brief review) All previous notebooks</b><br/>
</div> 
<h5><u>Review the presentations regarding the following topics</u>:</h5>
<div class="alert alert-info">
&#x2714; <b>Text Analysis</b> (lecture presentation)<br/>
&#x2714; <b>(brief review) All other presentations</b><br/>
</div>

## Preceding Step - import modules (packages)
This step is necessary in order to use external modules (packages). <br/>

In [26]:
# Name: Tomer-Kobi Mizrahi
# I.D: 205500895

# --------------------------------------
import pandas as pd
import numpy as np
# --------------------------------------


# --------------------------------------
# ------------- visualizations:
import seaborn as sns
import matplotlib.pyplot as plt
from matplotlib.colors import ListedColormap
# --------------------------------------


# ---------------------------------------
import sklearn
from sklearn import preprocessing, metrics, pipeline, model_selection, feature_extraction 
from sklearn import naive_bayes, linear_model, svm, neural_network, neighbors, tree
from sklearn import decomposition, cluster

from sklearn.model_selection import train_test_split, cross_val_score, GridSearchCV 
from sklearn.pipeline import Pipeline
from sklearn.metrics import accuracy_score, confusion_matrix
from sklearn.metrics import precision_score, recall_score, f1_score
from sklearn.metrics import mean_squared_error, r2_score, silhouette_score
from sklearn.preprocessing import MinMaxScaler, StandardScaler, LabelEncoder

from sklearn.svm import LinearSVC
from sklearn.neural_network import MLPClassifier
from sklearn.linear_model import Perceptron, SGDClassifier
from sklearn.decomposition import PCA
from sklearn.cluster import KMeans
from sklearn.naive_bayes import MultinomialNB, GaussianNB
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
# ---------------------------------------


# ----------------- output and visualizations: 
import warnings
from sklearn.exceptions import ConvergenceWarning
warnings.simplefilter("ignore")
warnings.simplefilter(action='ignore', category=FutureWarning)
warnings.simplefilter("ignore", category=ConvergenceWarning)
# show several prints in one cell. This will allow us to condence every trick in one cell.
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
%matplotlib inline
pd.pandas.set_option('display.max_columns', None)
pd.set_option('display.float_format', lambda x: '%.3f' % x)
# ---------------------------------------

### Text analysis and String manipulation imports:

In [27]:
# --------------------------------------
# --------- Text analysis and Hebrew text analysis imports:
# vectorizers:
from sklearn.feature_extraction import text
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer

# regular expressions:
import re
# --------------------------------------

### (optional) Hebrew text analysis - WordNet (for Hebrew)
Note: the WordNet is not a must

#### (optional) Only if you didn't install Wordnet (for Hebrew) use:

In [28]:
# word net installation:

# unmark if you want to use and need to install
!pip install wn
!python -m wn download omw-he:1.4

Requirement already satisfied: wn in c:\anaconda3\lib\site-packages (0.9.4)
Requirement already satisfied: tomli in c:\anaconda3\lib\site-packages (from wn) (2.0.1)
Requirement already satisfied: requests in c:\anaconda3\lib\site-packages (from wn) (2.25.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\anaconda3\lib\site-packages (from requests->wn) (1.26.4)
Requirement already satisfied: chardet<5,>=3.0.2 in c:\anaconda3\lib\site-packages (from requests->wn) (4.0.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\anaconda3\lib\site-packages (from requests->wn) (2020.12.5)
Requirement already satisfied: idna<3,>=2.5 in c:\anaconda3\lib\site-packages (from requests->wn) (2.10)

Cached file found: C:\Users\lab103\.wn_data\downloads\7ecf10e89326bc0ac26ad94b40fe60a7b6ac3302

Checking C:\Users\lab103\AppData\Local\Temp\tmpmt21nd75\omw-he\omw-he.xml
Skipping omw-he:1.4 (Hebrew Wordnet); already added

In [29]:
# word net import:

# unmark if you want to use:
import wn

### (optional) Hebrew text analysis - hebrew_tokenizer (Tokenizer for Hebrew)
Note: the hebrew_tokenizer is not a must

#### (optional) Only if you didn't install hebrew_tokenizer use:

In [30]:
# Hebrew tokenizer installation:

# unmark if you want to use and need to install:
!pip install hebrew_tokenizer

Requirement already satisfied: hebrew_tokenizer in c:\anaconda3\lib\site-packages (2.3.0)

In [31]:
# Hebrew tokenizer import:

# unmark if you want to use:
import hebrew_tokenizer as ht

### Reading input files
Reading input files for train annotated corpus (raw text data) corpus and for the test corpus

In [32]:
train_filename = 'annotated_corpus_for_train.csv'
test_filename  = 'corpus_for_test.csv'
df_train = pd.read_csv(train_filename, index_col=None, encoding='utf-8')
df_test  = pd.read_csv(test_filename, index_col=None, encoding='utf-8')

In [33]:
df_train.head(8)
df_train.shape

                                               story gender
0  כשחבר הזמין אותי לחול, לא באמת חשבתי שזה יקרה,...      m
1  לפני שהתגייסתי לצבא עשיתי כל מני מיונים ליחידו...      m
2  מאז שהתחילו הלימודים חלומו של כל סטודנט זה הפנ...      f
3  כשהייתי ילד, מטוסים היה הדבר שהכי ריתק אותי. ב...      m
4  ‏הייתי מדריכה בכפר נוער ומתאם הכפר היינו צריכי...      f
5  לפני כ3 חודשים טסתי לרומא למשך שבוע. טסתי במטו...      f
6  אני כבר שנתיים נשוי והשנה אני ואישתי סוף סוף י...      m
7  השנה התחלנו שיפוץ בדירה שלנו בתל אביב. הדירה ה...      f

(753, 2)

In [34]:
df_test.head(3)
df_test.shape

   test_example_id                                              story
0                0  כל קיץ אני והמשפחה נוסעים לארצות הברית לוס אנג...
1                1  הגעתי לשירות המדינה אחרי שנתיים כפעיל בתנועת "...
2                2  אחת האהבות הגדולות שלי אלו הכלבים שלי ושל אישת...

(323, 2)

### Your implementation:
Write your code solution in the following code-cells

In [35]:
# YOUR CODE HERE
df_train['gender'].value_counts()

m    575
f    178
Name: gender, dtype: int64

In [36]:
# YOUR CODE HERE
df_test.head(3)

   test_example_id                                              story
0                0  כל קיץ אני והמשפחה נוסעים לארצות הברית לוס אנג...
1                1  הגעתי לשירות המדינה אחרי שנתיים כפעיל בתנועת "...
2                2  אחת האהבות הגדולות שלי אלו הכלבים שלי ושל אישת...

In [37]:
# YOUR CODE HERE
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 323 entries, 0 to 322
Data columns (total 2 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   test_example_id  323 non-null    int64
 1   story            323 non-null    object
dtypes: int64(1), object(1)
memory usage: 5.2+ KB

In [38]:
# Add as many code cells as you need
# YOUR CODE HERE
print(df_train)

                                                 story gender
0    כשחבר הזמין אותי לחול, לא באמת חשבתי שזה יקרה,...      m
1    לפני שהתגייסתי לצבא עשיתי כל מני מיונים ליחידו...      m
2    מאז שהתחילו הלימודים חלומו של כל סטודנט זה הפנ...      f
3    כשהייתי ילד, מטוסים היה הדבר שהכי ריתק אותי. ב...      m
4    ‏הייתי מדריכה בכפר נוער ומתאם הכפר היינו צריכי...      f
..                                                 ...    ...
748  אז לפני שנה בדיוק טסתי לאמסטרדם עם שני חברים ט...      m
749  שבוע שעבר העליתי באופן ספונטני רעיון לנסוע עם ...      m
750  לפני חודש עברנו לדירה בבית שמש בעקבות משפחתי ה...      m
751  החוויה אותה ארצה לשתף התרחשה לפני כמה חודשים, ...      f
752  פעם כשהייתי בחו" "ל ,בקבולומביה כחלק מהטיול של...      m

[753 rows x 2 columns]

In [39]:
clf = Pipeline([
       ('vect', CountVectorizer()),
       ('normalize', preprocessing.Normalizer(norm='l2')),
       ('clf', MultinomialNB()),
    ])
clf.fit(df_train.story, df_train.gender)
predicted = clf.predict(df_test.story)

Pipeline(steps=[('vect', CountVectorizer()), ('normalize', Normalizer()),
                ('clf', MultinomialNB())])

In [40]:
# tokenizer
tokens = ht.tokenize(df_train)

In [41]:
# (אסימונים) פונקציה היוצרת מהסיפורים טוקנים
def tokenazer(text):
    # import hebrew_tokenizer as ht
    tokens = ht.tokenize(text)
    tokens_list = []
    for grp, token, token_num, (start_index, end_index) in tokens:
        if grp == 'HEBREW':
            tokens_list.append(token)
    return tokens_list

In [42]:
df_test.head()

   test_example_id                                              story
0                0  כל קיץ אני והמשפחה נוסעים לארצות הברית לוס אנג...
1                1  הגעתי לשירות המדינה אחרי שנתיים כפעיל בתנועת "...
2                2  אחת האהבות הגדולות שלי אלו הכלבים שלי ושל אישת...
3                3  רגע הגיוס לצבא היה הרגע הכי משמעותי עבורי, אני...
4                4  אני הגעתי לברזיל ישר מקולומביה וגם אני עשיתי ע...

In [43]:
df_train_01 = df_train.copy()
df_train_01['story'] = df_train['story'].apply(lambda x: tokenazer(x))

In [44]:
df_test_01 = df_test.copy()
df_test_01['story'] = df_test['story'].apply(lambda x: tokenazer(x))

In [45]:
# TfidfVectorizer
corpus = df_train['story'].values

In [46]:
vec = TfidfVectorizer(ngram_range=(1,2))
X = vec.fit_transform(corpus)
corpus_df = pd.DataFrame(X.toarray())
corpus_df.shape

(753, 217458)

In [47]:
#corpus_df.head()

In [48]:
df_train_to_model = pd.concat([df_train, corpus_df], axis=1)
df_train_to_model.shape

(753, 217460)

In [49]:
#df_train_to_model.head()

In [50]:
corpus_test = df_test['story'].values
test_vectors = vec.transform(corpus_test)
test_corpus_df = pd.DataFrame(test_vectors.toarray())
test_corpus_df.shape

(323, 217458)

In [51]:
df_test_to_model = pd.concat([df_test, test_corpus_df],axis=1)
df_test_to_model.shape

(323, 217460)

In [52]:
X_train = df_train_to_model.iloc[:,2:]
X_train.shape

(753, 217458)

In [53]:
X_test = df_test_to_model.iloc[:,2:]
X_test.shape

(323, 217458)

In [54]:
y_train = df_train_to_model['gender'].map( {'f': 1, 'm': 0} ).astype(int)

In [55]:
y_train.value_counts()

0    575
1    178
Name: gender, dtype: int64

In [56]:
from sklearn.preprocessing import Normalizer
X_train_tranformed = Normalizer().fit_transform(X_train)
X_test_tranformed = Normalizer().transform(X_test)

In [57]:
from sklearn.model_selection import cross_validate, ShuffleSplit
cv = ShuffleSplit(n_splits=7, test_size=0.3, random_state=42)

In [58]:
# SVM
from sklearn.svm import SVC
svm_model = SVC(class_weight={1: 4})
scores = cross_validate(svm_model, X_train_tranformed, y_train, cv=cv, scoring=('f1_weighted'))
scores['test_score'].mean()

0.6770055575586953

In [59]:
# שינוי עמודת המגדר ל 0 ו 1
hebrew_text = df_train
hebrew_text["gender"].replace({"m": "0", "f": "1"}, inplace=True)
print(hebrew_text)

                                                 story gender
0    כשחבר הזמין אותי לחול, לא באמת חשבתי שזה יקרה,...      0
1    לפני שהתגייסתי לצבא עשיתי כל מני מיונים ליחידו...      0
2    מאז שהתחילו הלימודים חלומו של כל סטודנט זה הפנ...      1
3    כשהייתי ילד, מטוסים היה הדבר שהכי ריתק אותי. ב...      0
4    ‏הייתי מדריכה בכפר נוער ומתאם הכפר היינו צריכי...      1
..                                                 ...    ...
748  אז לפני שנה בדיוק טסתי לאמסטרדם עם שני חברים ט...      0
749  שבוע שעבר העליתי באופן ספונטני רעיון לנסוע עם ...      0
750  לפני חודש עברנו לדירה בבית שמש בעקבות משפחתי ה...      0
751  החוויה אותה ארצה לשתף התרחשה לפני כמה חודשים, ...      1
752  פעם כשהייתי בחו" "ל ,בקבולומביה כחלק מהטיול של...      0

[753 rows x 2 columns]

In [60]:
# KNeighborsClassifier and GridSearchCV

param_grid = {'n_neighbors': [3,5,7,9]} 
knn = KNeighborsClassifier()
grid_knn = GridSearchCV(
    estimator=knn,
    param_grid=param_grid,
    scoring= 'f1_weighted',
    n_jobs=4,
    cv=cv)

In [61]:
# Fit the classifier to the data
grid_knn.fit(X_train_tranformed, y_train)
cv_results_df0 = pd.DataFrame(grid_knn.cv_results_)
cv_results_df0.describe()

GridSearchCV(cv=ShuffleSplit(n_splits=7, random_state=42, test_size=0.3, train_size=None),
             estimator=KNeighborsClassifier(), n_jobs=4,
             param_grid={'n_neighbors': [3, 5, 7, 9]}, scoring='f1_weighted')

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,split5_test_score,split6_test_score,mean_test_score,std_test_score,rank_test_score
count,4.000,4.000,4.000,4.000,4.000,4.000,4.000,4.000,4.000,4.000,4.000,4.000,4.000,4.000
mean,9.227,0.545,1.911,0.151,0.722,0.726,0.738,0.732,0.706,0.725,0.700,0.721,0.018,2.500
std,1.186,0.370,0.239,0.070,0.037,0.011,0.023,0.008,0.021,0.014,0.015,0.013,0.004,1.291
min,8.210,0.268,1.754,0.072,0.676,0.711,0.717,0.721,0.677,0.712,0.681,0.702,0.013,1.000
25%,8.321,0.303,1.784,0.105,0.711,0.720,0.719,0.728,0.698,0.714,0.692,0.718,0.017,1.750
50%,8.979,0.417,1.812,0.152,0.722,0.729,0.737,0.733,0.711,0.724,0.701,0.726,0.019,2.500
75%,9.886,0.659,1.940,0.199,0.733,0.735,0.757,0.737,0.720,0.735,0.709,0.729,0.020,3.250
max,10.740,1.075,2.267,0.228,0.766,0.736,0.761,0.738,0.726,0.741,0.715,0.732,0.023,4.000

In [62]:
# The row that had the best mean test score
best_row = cv_results_df0[cv_results_df0['rank_test_score'] == 1 ]
best_row

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_n_neighbors,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,split5_test_score,split6_test_score,mean_test_score,std_test_score,rank_test_score
2,8.210,0.314,1.794,0.189,7,{'n_neighbors': 7},0.766,0.734,0.755,0.721,0.718,0.712,0.715,0.732,0.020,1

In [63]:
knn_model = KNeighborsClassifier(n_neighbors=5)
scores = cross_validate(knn_model, X_train_tranformed, y_train, cv=cv,scoring=('f1_weighted'))
scores['test_score'].mean()

0.7280652874427361

In [64]:
# vectorizer Tfid
from sklearn.feature_extraction.text import TfidfVectorizer

vec = TfidfVectorizer()
X = vec.fit_transform(hebrew_text)
# hebrew_text
pd.DataFrame(X.toarray(), columns=vec.get_feature_names())

   gender  story
0   0.000  1.000
1   1.000  0.000

In [65]:
from sklearn.feature_extraction.text import CountVectorizer

# sample
vec = CountVectorizer()
X_train = vec.fit_transform(df_train) # לומד מהמודל איך לייצר מהקלט פיצ'ר ווקטור
type(X_train)
X_train
type(X_train.toarray())
X_train.toarray()

scipy.sparse.csr.csr_matrix

<2x2 sparse matrix of type '<class 'numpy.int64'>'
	with 2 stored elements in Compressed Sparse Row format>

numpy.ndarray

array([[0, 1],
       [1, 0]], dtype=int64)

In [66]:
model = KNeighborsClassifier(n_neighbors=5).fit(X_train_tranformed, y_train)

In [67]:
df_predicted = df_test
df_predicted['predicted_category'] = model.predict(X_test_tranformed)
df_predicted = df_predicted[['test_example_id','predicted_category']]

### Save output to csv (optional)
After you're done save your output to the 'classification_results.csv' csv file.<br/>
We assume that the dataframe with your results contain the following columns:
* column 1 (left column): 'test_example_id'  - the same id associated to each of the test stories to be predicted.
* column 2 (right column): 'predicted_category' - the predicted gender value for each of the associated story. 

Assuming your predicted values are in the `df_predicted` dataframe, you should save you're results as following:

In [68]:
df_predicted.to_csv('classification_results.csv',index=False)